* {
  margin: 0;
  padding: 0;
}
html,
body {
  background-color: white;
}

body {
  background-image: url(../imagenes/fondos/espacial.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 800px;
  color: #ecece7;
}
